body {
    background-color: #E5E5E5;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

/**header**/

.header {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    align-items: center;
    margin-right: auto;
    column-gap: 20px;
}

.header__list-logo {
    margin-right: 25px;
}

.header__list-contact_us {
    display: flex;
    column-gap: 24px;
}

.header__list-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #1E0606;
}