/*GLOBAL*/
body {
    background: #E5E5E5;
    color: black;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.hidden {
    visibility: hidden;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}


/*HEADER*/
.header__container {
    display: flex;
}

.logo {
    margin-right: 60px;
}

.header__list-one {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.header__list-two {
    display: flex;
    column-gap: 20px;
    margin-left: auto;
    align-items: center;
}

.header__button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.header__list-item--one {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.header__list-item--two {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}


/** FOOTER **/
.footer {
    background-color: #434343;
    padding: 0;
}

.footer__wrapper {
    display: flex;
    column-gap: 20px;
    border-bottom: 1px solid #666666;
}

.footer__nav {
    border-bottom: 1px solid #666666;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
}

.footer__info {
    border-bottom: 1px solid #666666;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
}

.footer__connect {
    border-bottom: 1px solid #666666;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
}

.footer__list-item {
    margin-bottom: 15px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.connect__form-email {
    background: #666666;
}

.connect__form-button {
    background: #666666;
}

placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #EBEBEB;
}


/*footer__bottom*/

.rating {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.footer__rating {
    display: flex;
}